$color-blue: #3685FB;
$color-grey: #898989;
$color-green: #42C5B6;
$color-black: #1C1A2F;
$color-bg: #FBFBFB;

$heading-1-font-size: 54px;
$heading-2-font-size: 36px;
$heading-3-font-size: 24px;
$heading-4-font-size: 20px;
$heading-5-font-size: 18px;
$paragraph-font-size: 16px;
$small-font-size: 14px;