.package-detail {
    background-color: $color-bg;

    .carousel {
        .carousel-item {
            img {
                height: 600px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .information-card {
        box-shadow: 0px 7px 24px rgba(226, 226, 226, 0.25);
        border-radius: 10px;

        .package-price {
            font-size: $heading-3-font-size;
            font-weight: 600;
            color: $color-blue;
        }
    }
}